/* General Styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}
.custom-table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* Container Styling */
.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* Form Styling */
h2 {
    text-align: center;
    color: #333;
}

.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

/* Button Styling */
.btn-primary {
    background-color: #ADD8E6;
    border: none;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;

}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}
